.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  padding: 0;
  margin-top: 130px;
}

.page {
  font-size: 20px;
  font-weight: bold;
  padding: 20px
}

.pagination {
  margin-top: 50px;
  text-align: center;
}